<center><h1> Connexion </h1>
<% if(flash && flash.err===1){ %>
  <p> <%= flash.message %> </p>
  <% } %>
   
<form role="form" methode="POST" action="/session/login">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary send_admin">Envoyer</button>
</form> </center>